/* stylelint-disable no-descending-specificity */
@import './ButtonVariables.css';

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: var(--lp-font-family-base);
  font-weight: var(--Button-font-weight);
  letter-spacing: 0.05em;
  text-align: center;
  text-decoration: none;
  text-transform: var(--Button-text-transform);
  vertical-align: initial;
  white-space: nowrap;
  border: var(--Button-border-default);
  border-radius: var(--Button-border-radius-default);
  font-size: var(--Button-font-size-default);
  line-height: var(--Button-line-height-default);
  padding: 0.5rem 0.8rem;
  cursor: default;
  user-select: none;
  appearance: none;
  min-height: 3.2rem;
}

.tiny {
  border-radius: var(--Button-border-radius-small);
  font-size: var(--Button-font-size-small);
  line-height: var(--Button-line-height-small);
  padding: 0 0.4rem;
  min-height: 1.9rem;
}

.small {
  border-radius: var(--Button-border-radius-small);
  font-size: var(--Button-font-size-small);
  line-height: var(--Button-line-height-small);
  padding: 0.3rem 0.7rem;
  min-height: 2.5rem;
}

.big {
  font-size: var(--Button-font-size-large);
  line-height: var(--Button-line-height-large);
  padding: 1rem 1.4rem;
  min-height: 4rem;
}

.fit {
  display: block;
  width: 100%;
}

.button:not(.icon) > .icon {
  vertical-align: middle;
}

.button:not(.icon) > .icon:first-child {
  margin-right: 0.5rem;
}

.button:not(.icon) > .icon:last-child {
  margin-left: 0.5rem;
}

.button:hover {
  cursor: pointer;
}

.button:focus {
  border-radius: var(--Button-border-radius-default);
  box-shadow: var(--Button-box-shadow-focus);
  outline: 0;
  z-index: 2;
}

.tiny:focus,
.small:focus {
  border-radius: var(--Button-border-radius-small);
}

/* ------- BUTTON VARIANTS -------  */

/* ------- DEFAULT ------- */

.default {
  background-color: var(--Button-color-background-default);
  border-color: var(--Button-color-border-default);
  color: var(--Button-color-text-default);
}

.default .icon {
  fill: var(--Button-icon-color-fill-default);
}

.icon.default .icon {
  background-color: transparent;
  color: var(--Button-icon-color-text-default);
}

.default:hover,
.icon.default:hover {
  background-color: var(--Button-color-background-default-hover);
  color: var(--Button-color-text-default-hover);
  box-shadow: var(--Button-box-shadow-hover);
}

.default:focus {
  background-color: var(--Button-color-background-default-focus);
}

.icon.default:active,
.default:active {
  background-color: var(--Button-color-background-default-active);
  box-shadow: var(--Button-box-shadow-active);
  color: var(--Button-color-text-default-active);
}

/* ------- PRIMARY, ICON, SUBMIT, MINIMAL ------- */

.primary {
  background-color: var(--Button-color-background-primary);
  border-color: var(--Button-color-border-primary);
  color: var(--Button-color-text-primary);
}

.primary:hover {
  background-color: var(--Button-color-background-primary-hover);
  color: var(--Button-color-text-primary-hover);
  box-shadow: var(--Button-box-shadow-hover);
}

.icon.primary {
  background-color: var(--Button-color-background-primary-withIcon);
  border: 1px solid var(--Button-color-border-primary-withIcon);
  color: var(--Button-color-text-primary-withIcon);
}

.icon.primary:hover {
  background-color: var(--Button-color-background-primary-focus);
  border: 1px solid var(--Button-color-border-primary-focus);
  box-shadow: var(--Button-box-shadow-hover);
}

.primary:focus,
.icon.primary:focus {
  background-color: var(--Button-color-background-primary-focus);
  border: 1px solid var(--Button-color-border-primary-focus);
}

.primary:active {
  background-color: var(--Button-color-background-primary-active);
  box-shadow: var(--Button-box-shadow-active);
}

.icon.primary .icon {
  fill: var(--Button-icon-color-fill-primary);
}

.primary:hover .icon,
.icon.primary:hover .icon {
  fill: var(--Button-icon-color-fill-primary-hover);
}

.icon.primary:focus .icon {
  fill: var(--Button-icon-color-fill-primary-focus);
}

.primary:active .icon,
.icon.primary:active .icon {
  fill: var(--Button-icon-color-fill-primary-active);
}

/* ------- MINIMAL ------- */

.minimal {
  background-color: transparent;
  color: var(--lp-color-text);
}

.minimal:hover,
.minimal:focus {
  background-color: var(--lp-color-gray-100);
}

.minimal:active {
  background-color: var(--lp-color-gray-200);
}

.button.minimal[disabled],
.button.minimal[disabled]:hover {
  background-color: transparent;
  border: none;
  color: var(--lp-color-gray-500);
}

/* ------- CLOSE ICON BUTTON ------- */

.close {
  background-color: transparent;
  fill: var(--lp-color-gray-700);
}

.close svg {
  fill: currentcolor;
}

.close:hover {
  background-color: rgb(33 33 33 / 0.1);
  box-shadow: 0 0 0 1px hsl(216 2.4% 58.6% / 0.7), 0 0 0 4px hsl(0 0% 12.9% / 0.1);
}

.close:focus {
  background-color: hsl(0 0 100% / 0.1);
  box-shadow: 0 0 0 1px hsl(225 1.8% 43.5% / 0.7), 0 0 0 4px hsl(0 0% 12.9% / 0.1);
}

.close:active {
  background-color: hsl(0 0% 12.9% / 0.7);
  box-shadow: 0 0 0 1px var(--lp-color-black-200), 0 0 0 4px hsl(0 0% 12.9% / 0.1);
  color: var(--lp-color-text-inverse);
}

.button.close[disabled],
.button.close[disabled]:hover {
  background-color: transparent;
  border: none;
  color: var(--lp-color-gray-500);
}

/* ------- DESTRUCTIVE ------- */

.destructive {
  background-color: var(--Button-color-background-destructive);
  border-color: var(--Button-color-border-destructive);
  color: var(--Button-color-text-destructive);
}

.destructive:hover {
  background-color: var(--Button-color-background-destructive-hover);
  color: var(--Button-color-text-destructive-hover);
  box-shadow: var(--Button-box-shadow-hover);
}

.destructive:focus {
  background-color: var(--Button-color-background-destructive-focus);
  box-shadow: var(--Button-box-shadow-focus);
}

.destructive:active {
  background-color: var(--Button-color-background-destructive-active);
  box-shadow: var(--Button-box-shadow-active);
  color: var(--Button-color-text-destructive-active);
}

.destructive .icon {
  fill: var(--Button-icon-color-fill-destructive);
}

.destructive:hover .icon {
  fill: var(--Button-icon-color-fill-destructive-hover);
}

.destructive:active .icon {
  fill: var(--Button-icon-color-fill-destructive-active);
}

.icon.destructive {
  border-color: var(--Button-color-border-destructive-withIcon);
}

.icon.destructive:hover {
  background-color: var(--Button-color-background-destructive-withIcon-hover);
  box-shadow: var(--Button-box-shadow-hover);
}

.icon.destructive:focus {
  background-color: var(--Button-color-background-destructive-withIcon-focus);
  box-shadow: var(--Button-box-shadow-focus);
}

.icon.destructive .icon {
  fill: var(--Button-icon-color-fill-destructive);
}

.icon.destructive:hover .icon {
  fill: var(--Button-icon-color-fill-destructive-hover);
}

.icon.destructive:focus .icon {
  fill: var(--Button-icon-color-fill-destructive-focus);
}

.icon.destructive:active .icon {
  fill: var(--Button-icon-color-fill-destructive-active);
}

/* ------- LINK ------- */

/* Inherit line height from current font size */
.link {
  text-transform: none;
  text-decoration: underline;
  letter-spacing: 0;
  vertical-align: baseline;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: 1; /* 1 */
  border-color: transparent;
  background-color: transparent;
  color: var(--Button-color-link-default);
  cursor: pointer;
  min-height: auto;
}

.link:focus {
  outline: none;
  border-radius: var(--Button-border-radius-link);
  border-color: transparent;
  box-shadow: var(--Button-box-shadow-link-focus);
}

.link:hover,
.link:active {
  text-decoration: none;
  background-color: transparent;
  border-color: transparent;
  color: var(--lp-color-link); /* do we have a different color here by theme? */
}

.link:active {
  box-shadow: var(--Button-box-shadow-link-active);
  color: var(--Button-color-link-active);
  text-decoration: underline;
}

.link[disabled] {
  color: var(--Button-color-link-disabled);
  text-decoration: none;
}

.link[disabled]:hover {
  color: var(--Button-color-link-disabled-hover);
}

/* ------- DISABLED ------- */

.button[disabled] {
  cursor: not-allowed;
  box-shadow: none;
  background-color: var(--Button-color-background-disabled);
  color: var(--Button-color-text-disabled);
  border-color: var(--Button-color-border-disabled);
}

/* Why are we adding states to a disabled button? */
.button[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  background-color: var(--Button-color-background-disabled-hover);
  color: var(--Button-color-text-disabled-hover);
  border-color: var(--Button-color-border-disabled);
}

.button[disabled]:active {
  cursor: not-allowed;
  box-shadow: none;
  background-color: var(--Button-color-background-disabled-active);
  color: var(--Button-color-text-disabled-active);
  border-color: var(--Button-color-border-disabled);
}

.button[disabled] .icon {
  fill: var(--Button-icon-color-fill-disabled);
}

.icon {
  padding: 0;
  line-height: 1;
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  min-height: auto;
  flex-shrink: 0;
}

.icon:focus {
  border-radius: 50%;
}

.icon.small {
  height: 2.2rem;
  width: 2.2rem;
}

.group {
  display: flex;
  align-items: center;
  position: relative;
}

.base {
  gap: 1rem;
}

.large {
  gap: 2rem;
}

.compact > .button + .button,
.compact > [class*='_Popover-target_'] + .button,
.compact > .button + [class*='_Popover-target_'],
.compact > [class*='_Popover-target_'] + [class*='_Popover-target_'] {
  margin-left: -1px;
}

.compact > .button + [class*='_Popover-target_'],
.compact > [class*='_Popover-target_'] + [class*='_Popover-target_'] {
  line-height: 1;
}

.compact > .button:not(:first-child),
.compact > .button:not(:last-child),
.compact > [class*='_Popover-target_']:not(:first-child),
.compact > [class*='_Popover-target_']:not(:last-child) {
  border-radius: 0;
}

.compact > .button:first-child,
.compact > [class*='_Popover-target_']:first-child button {
  border-radius: var(--lp-border-radius) 0 0 var(--lp-border-radius);
}

.compact > .button:last-child,
.compact > [class*='_Popover-target_']:last-child button {
  border-radius: 0 var(--lp-border-radius) var(--lp-border-radius) 0;
}
/* stylelint-enable no-descending-specificity */
